<tr>
    <td><%= rakuten_product.sku %></td>
    <td><%= rakuten_product.price %></td>
    <td><%= rakuten_product.reference_price %></td>
    <td>
        <%= link_to "Delete", [rakuten_product.product, rakuten_product], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %>
    </td>
</tr>
