<p>
    <strong>code:</strong>
    <%= rakuten_product.code %>
</p>

<p>
    <strong>sku:</strong>
    <%= rakuten_product.sku %>
</p>

<p>
    <strong>price:</strong>
    <%= rakuten_product.price %>
</p>

<p>
    <%= link_to "Destroy rakuten product info", [rakuten_product.product, rakuten_product], data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
</p>